.App {
    text-align: center;
    display: flex;
    min-height: 105vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(150deg, #c33764, #1d2671);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
    font-family: Arial, Helvetica, sans-serif;
  }

 
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #bf76fc;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
    height: 4px;
    
  }
   */
  .link-btn  {
    background: none;
    color: white;
    text-decoration: underline;
    position: relative;
    top: 30px;
    font-size: medium;
    right: 40px;
  }

  .a {
    position: relative;
    left: 100px;
    font-size: medium;
    bottom: 5px;
    color: #9ed5ff;
  }
  .a:hover{
    color: #fff;
  }

 

button[type=submit]{
  background-color: #fff;
  border-radius:12px;
  border:1px solid #7aa7c7;
  box-shadow:rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #7439db;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  padding-left: 20px;
  width: 140px;
}

button:hover,
button:focus {
  background-color: #bf76fc;
  color: #ffffff;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

