#sellergooddiv{
    flex-direction: column;
    display: flex;
    width: 600px;
    margin-left: 200px;
    margin-top: 100px;
}

#sellerSeller{
    background: rgba(255,255,255,0.4);
    border: none;
    /* display: block; */
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    width: 300px;
    height: 30p;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666;
}

#sellerPurchaser{
    background: rgba(255,255,255,0.4);
    border: none;
    /* display: block; */
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    width: 300px;
    height: 30p;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666;
}

#sellerdate{
    background: rgba(255,255,255,0.4);
    border: none;
    /* display: block; */
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    width: 300px;
    height: 30p;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666;
}


#send {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 120px;
}

input[type=email] {
    background: rgba(255,255,255,0.4);
    border: none;
    /* display: block; */
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    width: 300px;
    height: 30p;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  }
  ::-webkit-input-placeholder { color: #666;} 
  :-moz-placeholder { color: #666; }
  ::-moz-placeholder { color: #666; }
  :-ms-input-placeholder { color: #666;
}

#send1{

    width: 100px;
    height: 40px;
    position: relative;
    bottom: 640px;
    left: 800px;
    background-color: transparent;
    color: white;
    font-weight: bolder;

}

#send1:hover {
  color: black;
  background-color: white;
  font-weight: bolder;
}

#side {
  flex-direction: row;
  display: flex;
  /* margin-top: 70px; */
}

#l1 {
  position: relative;
  top: 50px;
}

#send{
  position: relative;
  left: 110px;
  top: 10pxg;
}

#side li{
  font-size: 1.5rem;
  margin-bottom: 300px;
}

/* * {
  outline: auto;
} */